#centre {
border:1px solid #202020;
border-bottom:0;
border-top:0;
color:#000;
padding:1.5em;
}

#conteneur {
background-color:#fafafa;
margin:0px auto 0px auto;
width:914px;
min-width:60em;
position:relative;
}

#container
{
width:914px;
margin:0px auto 0px auto;
}


#haut {
background-color:#202020;
background-image:url(images/menu_914_2.jpg)	;
background-repeat:no-repeat;
height:34px;
max-height:2.4em;
}

#header {
background-color:#3882C7;
border:1px solid #fafafa;
color:#fafafa;
font-size:2em;
height:2.5em;
padding-left:2em;
padding-top:1em;
}

#pied {
border:1px solid #202020;
border-top:0;
padding:0.5em;
text-align:right;
}

.menuhaut {
font-size:1em;
list-style-type:none;
margin:0;
padding:0;
}

.menuhaut a {
color:#fafafa;
margin:0 0.4em;
text-decoration:none;
}

.menuhaut a:hover {
color:#FF0;
text-decoration:none;
}

.menuhaut li {
position: relative;
left: 280px;
top: 0px;
border-right:1px solid #fff;
display:inline;
float:left;
margin:0;
padding:0.6em 10px;
}

a {
color:#000;
text-decoration:underline;
}

body {
background-color:#CDCDCD;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:0.75em;
}

h1 {
font-size:1.6em;
margin:0.5em 0.5em 1em 0;
}

h2 {
font-size:1.2em;
margin:0.8em 0.5em 0.3em 0.6em;
}

h3 {
font-size:1.1em;
margin:0.8em 0.5em 0.3em 0.8em;
}

h4 {
font-size:1em;
margin:0.7em 0.5em 0.3em 1em;
}

h5 {
font-size:0.9em;
margin:0.6em 0.5em 0.2em 1.5em;
}

p {
margin:1px 0.5em 0.5em 1.5em;
}

#main
{
	display:block;
background-color:#FFFFFF;
padding-top:0px;
padding-bottom:0px;
}

#maincol_container, #rightcol_container
{
float:left;
margin-left:0px;
}


#leftcol_container
{
	width:285px;
}

#rightcol_container
 
{
	width:220px;
}
#maincol_container
{
width:409px;	
	
}

#leftcol_container
{
float:left;
margin-left:0px;
background-image:url(images/leftcol_top.jpg);
background-repeat:no-repeat;
}


.leftcol_bottom
{
background-image:url(images/leftcol_bottom.png)	;
background-repeat:no-repeat;
width:285px;
height:0px;
margin-bottom:0px;
}

.rightcol_bottom
{
background-image:url(images/rightcol_bottom.png)	;
background-repeat:no-repeat;
width:220px;
height:0px;
margin-bottom:0px;
}


.maincol_bottom
{
background-image:url(images/maincol_bottom.png)	;
background-repeat:no-repeat;
width:409px;
height:0px;
margin-bottom:0px;
}


.leftcol, .maincol, .rightcol
{
clear:both;	
padding-left:0px;
padding-right:0px;	
padding-bottom:0px;	
padding-top:0px;
}



.leftcol
{
display:block;
background-color:#AFD3EB;
	background-image:url(images/leftcol_mid.jpg);
background-repeat:repeat;
width:285px;
height:448px;
    position: relative;
    top: 62px;

}

.leftcol h2 {
    position: relative;
    left: 0px;
    top: 0px;
}
.leftcol ul {
    position: relative;
    left: 80px;
    top: 20px;
	width:150px;
	font-size:0.5em;
}



.leftcol ul, .rightcol ul
{
list-style:none;
font-size:12px;
font-weight:bold;
}

.rightcol ul
{
text-align:right;	
	
}

.rightcol 
{
text-align:right;

}

.maincol
{
display:block;
background-image:url(images/maincol_top.png);
background-repeat:no-repeat;
background-color:#FFFFFFF;
width:403px;
}

.rightcol
{
display:block;
background-color:#6dc1c1;
background-image:url(images/rightcol_top.jpg);
background-repeat:no-repeat;
width:220px;
height: 80px;
}

.rightcol2
{
display:block;
width:172px;
    position: relative;
    left: 48px;
    top: 0px;
}


.leftcol h2
{
	text-align:left;
	margin-left:0px;
	font-size:21px;
	color: #1D5174;
	margin-bottom:0px;
}

.rightcol h2
{
	text-align:right;
	margin-right:7px;
	font-size:16px;
	margin-bottom:6px;
		padding-left:65px;
padding-right:5px;	
padding-bottom:30px;	
padding-top:30px;
}

.rightcol a
{
	text-align:right;
	margin-right:7px;
	font-size:16px;
	color: #FFFFFF;
	link: #FFFFFF;
	margin-bottom:6px;
    text-decoration: none;
}

.rightcol a:hover {
color:#FF0;
text-decoration:none;
#background-color:#000000;
}

.maincol h2
{
color:#498DD8;
margin-bottom:3px;
}

.maincol p
{
margin-bottom:6px;
}



#footer h3
{
font-size:12px;
width:inherit;	
text-align:center;
margin:0 auto 0 auto;
background-color:#3f6057;
	
}



#header
{
width:914px;
height:212px;
padding:0px 0px 0px 0px;
background-color:#FFFFFF;
margin-bottom:0px;
margin-top:0px;
}

#picture
{
	width:914px;
	height:212px;
	background-image:url(images/header_dh_914.jpg);
	background-repeat:no-repeat;	
}


h1, h2, h3
{
	padding:0px;
	margin:0px;
}

#header h1
{
position:relative;
left:12px;	
top:10px;
color:#EEF5FD;
font-size:40px;
}

#header h2
{
position:relative;
display:block;
float:right;
top:158px;
margin-right:11px;
font-size:20px;
color:#2661CE;
}


.clear
{
clear:both;	
}

